<?xml version="1.0" ?>
<config>
    <modules>
        <Rockwells_LogViewer>
            <version>0.2.0</version>
        </Rockwells_LogViewer>
    </modules>
    <global>
        <models>
            <logviewer>
                <class>Rockwells_LogViewer_Model</class>
            </logviewer>
        </models>
        <blocks>
            <logviewer>
                <class>Rockwells_LogViewer_Block</class>
            </logviewer>
        </blocks>
        <helpers>
            <logviewer>
                <class>Rockwells_LogViewer_Helper</class>
            </logviewer>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<logviewer before="Mage_Adminhtml">Rockwells_LogViewer_Adminhtml</logviewer>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <logviewer>
                    <files>
                        <default>Rockwells_LogViewer.csv</default>
                    </files>
                </logviewer>
            </modules>
        </translate>
        <layout>
            <updates>
                <logviewer>
                    <file>logviewer/logviewer.xml</file>
                </logviewer>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <logviewer translate="title" module="logviewer">
                        <title>Log Viewer</title>
                        <action>adminhtml/logviewer_index</action>
                    </logviewer>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <logviewer>
                                            <title>Log Viewer</title>
                                        </logviewer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
